body {
  background-color: #1f2937;
  margin: 0;
}

.header {
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  color: aliceblue;
  justify-content: space-between;
  
}

.logo {
  height: 100%;
  padding-left: 6px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.logo-welcome {
  font-weight: 800;
  display: flex;
}

.header-links {
 display: flex;
 list-style-type: none;
 font-size: 18px;
 
}

 a {
  text-decoration: none;
  padding: 0 12px;
  color: aliceblue
}

.section1 {
  height: 300px;
  width: 100%;
  background-color:1f2937 ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  ;
  
  
}

.one {
  height: 200px;
  width: 450px;
  background-color: #1f2937;
  margin-bottom: 100px;
  display:flex ;
  flex-direction: column;
  border-radius: 17px;
  border: 3px solid #1f2937;
  align-items: center;
  justify-items: center;
 
}

.two {
  background-color: rgb(179, 179, 179);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 450px;
  border-radius: 17px;
  border: 3px solid #1f2937;
}
.one > h1 {
  display: flex;
  align-items:flex-start ;
  font-size: 40px;

}


.one > p {
  padding-right: 50px;
  margin-top: -20px;
}

.section1border {
  border: 20px solid #1f2937;
  height: 250px;
  width: auto;
  display: flex;
  
}
  


.one > button {
  font-size: 12px;
  background-color: #3882f6;
  border: none;
  color:aliceblue ;
  margin-right: 90px;
  font-weight: 600;
  width: 100px;
  height: 20px;
  
}

.section2 {
  height: 300px;
  width: 100%;
  background-color:aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pictures-main {
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  
  
}
.pictures {
  height: 160px;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.pictures > img {
  border: 3px solid #3179df;
  border-radius: 17px;
}

.pictures > p {
  text-align: center;
}
.Random-text {
  font-size: 25px;
}

.section3 {
  height: 300px;
  width: 100%;
  background-color: rgb(216, 216, 216);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 0;
}

.section3 > p {
  font-size: 25px;
  overflow: hidden;
  text-align: center;
  
  width: 75%;
  height: 100%;

}

.section3 > p > span {
  text-indent: 50px;
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: right; 
  
}

.section4 {
  background-color: aliceblue;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.section4 > div {
  height: 40%;
  width: 70%;
  background-color: #3882f6;
  border: 3px solid #3882f6;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.section4 > div > p {
  font-size: 20px;
  color: aliceblue;
  font-weight: 700;
}

.sign-up {
  font-size: 16px;
  color: rgb(194, 192, 192);
  font-weight: 100;
}
.section4 > div > button {
background-color: #3179df;
color:aliceblue;
border: 2px solid aliceblue;
}